$mainFontFamily:'Roboto',
sans-serif;
$headerFontFamily:'Montserrat',
sans-serif;

$primaryColor:#232323;
$primaryTextColor:#6f6f6f;
$secondaryTextColor:#939393;
$deliveryBackgroundColor:#f7f7f7;

$testimonialBoxColor:#ffffff;
$testimonialsBackColor:#f7f7f7;

$projectBackgroundColor:#f7f7f7;


$secondaryColor:#ffffff;

$projectSecondaryColor:#ffffff;
$projectsPrimaryIconColor:#232323;

$projectSecondaryIconColor:#ffffff;

$projectOverlayColor:#ff214f;
$secondSectionNumbercolor:#ff214f;

// Buttons:
$buttonDarkColor:#000000;
$buttonContentColor:#232323;
$buttonHoverContentColor:#ffffff;

// Numbers:

$numbersIconTextColor:#939393;
$numbersBigNumColor:#232323;

// Labels:
$labelIconColor:#ff214f;
$labelTitleColor:#232323;
$labelTextColor:#939393;

// whyUS:
$whyUsTextcolor:#939393;
$whyUsTitleColor:#232323;

// Provide:
$provideBackgroundColor:#1c1c1c;
$provideHeaderColor:#ffffff;
$provideTextColor:#6f6f6f;
$provideHeaderSecondColor:#b7b7b7;
$provideBtnBorderStart:#ffffff;
$provideBtnTextStart:#ffffff;
$provideBtnTextHover:#232323;
$provideBtnBackgroundHover:#ffffff;

// Publish:

$publishTitleTextColor:#232323;
$publishTextColor:#6f6f6f;
$publishLinkColor:#ff214f;
$publishBackgroundColor:#dbdbdb;
$publishPlusColor:#ffffff;
$publishAuthorcolor:#939393;

// contact:
$contactBackgroundColor:#232323;


$footerBackground:#141414;